.iconGithub {
  background-image: url("/emoji.png");
  width: 120px;
  height: 120px;
  background-position: -41px -435.9px;
  background-repeat: no-repeat;
}

.iconDictionary {
  background-image: url("/emoji.png");
  width: 100px;
  height: 113.69px;
  background-position: -457.42px -38px;
  background-repeat: no-repeat;
}

.iconLetter {
  background-image: url("/emoji.png");
  width: 120.25px;
  height: 94.25px;
  background-position: -183px -47px;
  background-repeat: no-repeat;
}

.iconCalendar {
  background-image: url("/emoji.png");
  width: 112px;
  height: 117.9px;
  background-position: -41px -36px;
  background-repeat: no-repeat;
}

.iconBall {
  background-image: url("/emoji.png");
  width: 94.16px;
  height: 105px;
  background-position: -333.25px -42px;
  background-repeat: no-repeat;
}

.iconA {
  background-image: url("/emoji.png");
  width: 30px;
  height: 30px;
  background-position: -291px -330.09px;
  background-repeat: no-repeat;
}

.iconB {
  background-image: url("/emoji.png");
  width: 30px;
  height: 30px;
  background-position: -171px -330.09px;
  background-repeat: no-repeat;
}

.iconC {
  background-image: url("/emoji.png");
  width: 40px;
  height: 40px;
  background-position: -41px -325.09px;
  background-repeat: no-repeat;
}

.iconD {
  background-image: url("/emoji.png");
  width: 30px;
  height: 30px;
  background-position: -111px -330.09px;
  background-repeat: no-repeat;
}

.iconE {
  background-image: url("/emoji.png");
  width: 30px;
  height: 30px;
  background-position: -231px -330.09px;
  background-repeat: no-repeat;
}
